body{background-color: #D1D1D1;perspective: 1000px;}
#app{width: 100%;height: 100%;}
.cardContainer{display: flex;justify-content: center;align-items: center;flex-direction: column;height: 100vh;flex-wrap: wrap;position: relative;}
.card{width: 340px;height: 580px;background-color: #fff;border-radius: .63rem;position: relative;box-shadow: 0 10px 10px rgba(0,0,0,.3);}
.portrait{width: 155px;margin: 40px auto 0;position: relative;}
.portraitImg{object-fit: cover;width: 100%;}
.headImg{backface-visibility: hidden; position: absolute; left: 20px; bottom: 45px; transform-origin: bottom center; -webkit-animation: shaking ease 2s infinite; -moz-animation: shaking ease 2s infinite; animation: shaking ease 2s infinite;}
.hideBack{backface-visibility: hidden;-webkit-backface-visibility: hidden;}
.transition{-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;}
.txtCenter{width: 100%;text-align: center;}
.name{font-size: 2.25rem;font-weight: bold;margin: 20px 0 5px;text-shadow: 0 10px 10px rgba(0,0,0,.3);}
.title{font-size: .82rem;margin: 0 0 5px;text-shadow: 0 5px 10px rgba(0,0,0,.2);}
.data,.workSection,.eduSection{overflow: hidden;width: 61%;text-shadow: 0 10px 10px rgba(0,0,0,.2);}
.skill{font-size: 1.35rem;font-weight: bold;margin: 10px 0 0;}
.gap{height: 1px;width: 100%;position: relative;margin: 5px auto; border-bottom:1px solid #333;}
.gap::before{content:'';display:block;height: 5px;width: 5px;border-radius: 50%; background-color: #333;position: absolute;left: 0;top:-1.5px;}
.gap::after{content:'';display:block;height: 5px;width: 5px;border-radius: 50%; background-color: #333;position: absolute;right: 0;top:-1.5px;}
.skillSet{width: 100%;height:190px;overflow: hidden;margin: 0 auto;white-space: nowrap;position: relative;}
.skillSet .itemWrap{position: absolute;width: 100%;height:100%;top: 0; left: 0;}
.skillSet .itemWrap.uiux{left: -100%;}
.skillSet .itemWrap.frontend{left: -200%;}
.skillSet .items{width: 100%;display: inline-flex;padding: .31rem;flex-direction: column;}
.skillSet .items .type{font-size: 1rem;font-weight: bold;margin: 10px 0 5px;}
.list{display: flex;flex-direction: row;margin: 5px 0 0;align-items: center;}
.list .key{width: 36%;font-size: 12px;}
.list .value{height: 3px;background-color: #B5B5B5;width: 58%;position: relative;margin-left: 6%;overflow: hidden;box-shadow: 0 10px 5px rgba(0,0,0,.1);}
.list .vLength{height: 3px;background-color: #333;position: absolute;left: -100%;top: 0;width: 0;}
.icon {width: 30px; height: 30px;margin: .5em;margin: 0 auto;}
.type{display: flex;flex-direction: row;align-items: center;}
.type .typeTitle{line-height: 24px;margin-top: -3px;}
.type .icon {width: 24px; height: 24px;margin: 0 10px 0 0;}
.btnSkill{ position: absolute; bottom: 80px; background-color: #5CAFB2; width: 50px; height: 100px; display: flex; align-items: center; cursor: pointer;transition:all .5s ease ; -webkit-transition:all .5s ease ; -moz-transition:all .5s ease ; -ms-transition:all .5s ease ; -o-transition:all .5s ease ;}
.btnSkill .icon{fill: #fff;margin: 0 auto;}
.btnLeft{left: 0;border-radius: 0 10px 10px 0;box-shadow:  0 0 0 0 rgba(0,0,0,0),inset -1px 1px 0 1px rgba(207,255,254,.3), inset 1px -1px 0 1px rgb(46,120,128,.5);}
.btnRight{right:0;border-radius: 10px 0 0 10px;box-shadow: 0 0 0 0 rgba(0,0,0,0),inset 1px 1px 0 1px rgba(207,255,254,.3), inset -1px -1px 0 1px rgb(46,120,128,.5);}
.btnLeft:hover{background-color: #60c5c8;box-shadow: 0 20px 10px rgba(0,0,0,.3),inset -1px 1px 0 1px rgba(207,255,254,.3), inset 1px -1px 0 1px rgb(46,120,128,.5);}
.btnLeft:active{background-color: #3f979a;box-shadow: 0 5px 5px rgba(0,0,0,.3),inset -1px 1px 0 1px rgba(207,255,254,.3), inset 1px -1px 0 1px rgb(46,120,128,.5);}
.btnRight:hover{background-color: #60c5c8;box-shadow: 0 20px 10px rgba(0,0,0,.3),inset 1px 1px 0 1px rgba(207,255,254,.3), inset -1px -1px 0 1px rgb(46,120,128,.5);}
.btnRight:active{background-color: #3f979a;box-shadow: 0 5px 5px rgba(0,0,0,.3),inset 1px 1px 0 1px rgba(207,255,254,.3), inset -1px -1px 0 1px rgb(46,120,128,.5);}
.bullet{width: 100%; height: 20px;display: flex;flex-direction: row;align-items: center;justify-content: center;}
.bullet .dot{box-shadow: 0 5px 5px rgba(0,0,0,.5); width: 5px; height: 5px; background-color: #666; border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ; margin: 0 0 0 5px;}
.bullet .dot.on{background-color: #3f979a;}

/*flip*/
.front, .back,.outter {position: absolute;display: flex;flex-direction: column;justify-content: center;align-items: center;transform-style: preserve-3d;transform: translate3d(0, 0, 0);-webkit-transform: translate3d(0, 0, 0);}
.back {background-color: #fff;transform: rotateY(180deg);-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-ms-transform:rotateY(180deg);-o-transform:rotateY(180deg);}
.flipBtn{ transform-style: preserve-3d; border-radius: 50%; width: 2.19rem; height: 2.19rem; display: flex; align-items: center; position: absolute; box-shadow: 0 10px 10px rgba(0,0,0,.3); cursor: pointer; transform:translateY(330px) ; -webkit-transform:translateY(330px) ; -moz-transform:translateY(330px) ; -ms-transform:translateY(330px) ; -o-transform:translateY(330px) ; }
.flipBtn .icon{width: 1.2rem;height: 1.2rem;position: relative;}
.flipBtn.black{background-color: #333;}
.flipBtn.black:hover,.flipBtn.white:hover{ background-color: #666; transform:translateY(330px) rotateY(20deg) ; -webkit-transform:translateY(330px) rotateY(20deg) ; -moz-transform:translateY(330px) rotateY(20deg) ; -ms-transform:translateY(330px) rotateY(20deg) ; -o-transform:translateY(330px) rotateY(20deg) ; }
.flipBtn.black .icon{fill:#fff;}
.flipBtn.white{background-color: #fff;}
.flipBtn.white .icon{fill:#333;}
.tip{ position: absolute; top: -17px; left: -9px; font-size: 12px; white-space: nowrap; transform:scale(.75) rotateY(-10deg) ; -webkit-transform:scale(.75) rotateY(-10deg) ; -moz-transform:scale(.75) rotateY(-10deg) ; -ms-transform:scale(.75) rotateY(-10deg) ; -o-transform:scale(.75) rotateY(-10deg) ; }

/*back*/
.workSection .title,.eduSection .title{font-size: 1rem;position: relative;}
.workSection .info .squeeze,.eduSection .info .squeeze{ text-shadow: none; color: #666; font-size: 12px; transform:scale(.8) translateX(-12%) ; -webkit-transform:scale(.8) translateX(-12%) ; -moz-transform:scale(.8) translateX(-12%) ; -ms-transform:scale(.8) translateX(-12%) ; -o-transform:scale(.8) translateX(-12%) ; white-space: nowrap; }
.listArea li{position: relative;padding: 5px 0 5px 20px;}
.workSection .listArea li:last-child{margin-top: -2px;}
.workSection .listArea li:last-child::after{position: absolute;left:2px;bottom:0; content: ''; width: 5px; height: 5px; background-color: #333;}
.listArea li::before{position: absolute;content: '';height: 86%;width: 1px;border-right: 1px solid #333;top: 20px;left: 3px;}
.listArea .title::before{ position: absolute;left:-17px;top:8px; content: ''; width: 4px; height: 4px; background-color: #333; border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ;z-index: 2; }
.listArea .title::after{ position: absolute;left:-20px;top:5px; content: ''; width: 8px; height: 8px;border: 1px solid #333; background-color: #fff; border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ;z-index: 1; }
.workSection li:last-child .squeeze{white-space:break-spaces;}
.eduSection .info:last-child .squeeze{white-space:break-spaces;}
.eduSection .listArea li:last-child::before{display: none;}

/*darkmode*/
#app.darkMode{background-color: #000;height: 100vh;}
.devil{opacity:0;background: url(../images/sidevil.png) 0 0 no-repeat;width: 100%;height: 100%;position: absolute;z-index: -1;top: -27%;left:10%;transform-origin: bottom center;-webkit-animation: shaking ease 2s infinite; -moz-animation: shaking ease 2s infinite; animation: shaking ease 2s infinite;}
.darkMode .flipBtn.black{background-color:#5a0082;}
.darkMode .card{box-shadow: 0 0 50px 5px rgba(115,130,78,.5);color: #fff;background-color: #000;}
.darkMode .type .icon{fill: #b6ff00;}
.darkMode .btnSkill{background-color: #73179c;}
.darkMode .btnLeft{box-shadow:  0 0 0 0 rgba(30,35,37,0),inset -1px 1px 0 1px rgba(255,207,249,.3), inset 1px -1px 0 1px rgb(42,10,58,.5);}
.darkMode .btnRight{box-shadow: 0 0 0 0 rgba(30,35,37,0),inset 1px 1px 0 1px rgba(255,207,249,.3), inset -1px -1px 0 1px rgb(42,10,58,.5);}
.darkMode .btnLeft:hover{background-color:#b023ff;box-shadow: 0 10px 30px rgba(249,58,215,.8),inset -1px 1px 0 1px rgba(255,207,249,.3), inset 1px -1px 0 1px rgb(51,12,56,.5);}
.darkMode .btnLeft:active{background-color:#5a0082;box-shadow: 0 5px 10px rgba(249,58,215,.5),inset -1px 1px 0 1px rgba(255,207,249,.1), inset 1px -1px 0 1px rgb(51,12,56,.5);}
.darkMode .btnRight:hover{background-color:#b023ff;box-shadow: 0 10px 30px rgba(249,58,215,.8),inset 1px 1px 0 1px rgba(255,207,249,.3), inset -1px -1px 0 1px rgb(51,12,56,.5);}
.darkMode .btnRight:active{background-color:#5a0082;box-shadow: 0 5px 10px rgba(249,58,215,.5),inset 1px 1px 0 1px rgba(255,207,249,.1), inset -1px -1px 0 1px rgb(51,12,56,.5);}
.darkMode .tip{color: #fff;}
.darkMode .bullet .dot.on{background-color: #b023ff;}
.darkMode .list .vLength{background-color: #b6ff00;}
.eyes{opacity:0;background: url(../images/crazyeyes.png) 0 0 no-repeat; width: 100%; height: 100%; position: absolute; z-index: -1; top: -27%; left:16%; transform-origin: 50px bottom; animation:shakingeyes ease 2s infinite; -webkit-animation:shakingeyes ease 2s infinite; }
.darkMode .devil.show,.darkMode .eyes.show{opacity:1; z-index: 1;}

.darkMode .switch{color: #fff;}
.switch{ width:50%; height: 2.19rem; display: flex; justify-content: center; align-items: center; position: absolute; transform:translateY(-318px) ; -webkit-transform:translateY(-318px) ; -moz-transform:translateY(-318px) ; -ms-transform:translateY(-318px) ; -o-transform:translateY(-318px) ; }
.toggle_button {vertical-align: middle;user-select: none;cursor: pointer;}
.toggle_button input[type="checkbox"] {opacity: 0;position: absolute;width: 1px;height: 1px;}
.toggle_button .toggle__switch {
  display:inline-block;
  height:20px;
  line-height: 20px;
  border-radius:9px/50%;
  width:50px;
  background-color: #aaa;
  position:relative;
  margin-left: 10px;
  transition: all .25s;
  -webkit-border-radius:9px/50%;
  -moz-border-radius:9px/50%;
  -ms-border-radius:9px/50%;
  -o-border-radius:9px/50%;
  transform: translateX(-12%) ;
  -webkit-transform: translateX(-12%) ;
  -moz-transform: translateX(-12%) ;
  -ms-transform: translateX(-12%) ;
  -o-transform: translateX(-12%) ;
}

.toggle__label{ position: absolute; top: -15px; font-size: 12px; transform:scale(.8) translateX(-6%) ; -webkit-transform:scale(.8) translateX(-6%) ; -moz-transform:scale(.8) translateX(-6%) ; -ms-transform:scale(.8) translateX(-6%) ; -o-transform:scale(.8) translateX(-6%) ; }
.toggle_button .toggle__switch::after{
  content: "";
  position: absolute;
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 2px;
  top: 2px;
  transform: translateX(0);
  background-color: #fff;
  transition: all .25s cubic-bezier(.5, -.6, .5, 1.6);
}

.toggle_button .toggle__switch::after {background-color: #fff;}
.darkMode .toggle_button .toggle__switch{background-color: #fff;}
.darkMode .toggle_button .toggle__switch::after { background-color: #000; transform: translateX(30px); -webkit-transform: translateX(30px); -moz-transform: translateX(30px); -ms-transform: translateX(30px); -o-transform: translateX(30px); }

@keyframes -webkit-shaking {
  0% {transform: rotate(-5deg);}
  50% {transform: rotate(10deg);}
  100% {transform: rotate(-5deg);}
}
@keyframes -moz-shaking {
  0% {transform: rotate(-5deg);}
  50% {transform: rotate(10deg);}
  100% {transform: rotate(-5deg);}
}
@keyframes shaking {
  0% {transform: rotate(-5deg);}
  50% {transform: rotate(10deg);}
  100% {transform: rotate(-5deg);}
}

@keyframes shakingeyes {
  0% { transform: rotate(-5deg); -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); -ms-transform: rotate(-5deg); -o-transform: rotate(-5deg); }
  25% {opacity: 1;}
  35% {opacity: 0;}
  45% {opacity: 1;}
  50% { transform: rotate(10deg); -webkit-transform: rotate(10deg); -moz-transform: rotate(10deg); -ms-transform: rotate(10deg); -o-transform: rotate(10deg); }
  55% {opacity: 1;}
  65% {opacity: 0;}
  75% {opacity: 1;}
  100% { transform: rotate(-5deg); -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); -ms-transform: rotate(-5deg); -o-transform: rotate(-5deg); }
}

@media screen and (max-width: 376px) {
  .cardContainer{ transform:scale(0.9) ; -webkit-transform:scale(0.9) ; -moz-transform:scale(0.9) ; -ms-transform:scale(0.9) ; -o-transform:scale(0.9) ; }
}
@media screen and (max-width: 321px) {
  .cardContainer{ transform:scale(0.8) ; -webkit-transform:scale(0.8) ; -moz-transform:scale(0.8) ; -ms-transform:scale(0.8) ; -o-transform:scale(0.8) ; }
}