body{background-color: #D1D1D1;perspective: 1000px;}
#app{width: 100%;height: 100%;}
.cardContainer{display: flex;justify-content: center;align-items: center;flex-direction: column;height: 100vh;flex-wrap: wrap;position: relative;}
.card{width: 340px;height: 580px;background-color: #fff;border-radius: .63rem;position: relative;box-shadow: 0 10px 10px rgba(0,0,0,.3);}
.portrait{width: 155px;margin: 40px auto 0;position: relative;}
.portraitImg{object-fit: cover;width: 100%;}
.headImg{backface-visibility: hidden; position: absolute; left: 20px; bottom: 45px; transform-origin: bottom center; -webkit-animation: shaking ease 2s infinite; -moz-animation: shaking ease 2s infinite; animation: shaking ease 2s infinite;}

@keyframes -webkit-shaking {
  0% {transform: rotate(-5deg);}
  50% {transform: rotate(10deg);}
  100% {transform: rotate(-5deg);}
}
@keyframes -moz-shaking {
  0% {transform: rotate(-5deg);}
  50% {transform: rotate(10deg);}
  100% {transform: rotate(-5deg);}
}
@keyframes shaking {
  0% {transform: rotate(-5deg);}
  50% {transform: rotate(10deg);}
  100% {transform: rotate(-5deg);}
}
.hideBack{backface-visibility: hidden;-webkit-backface-visibility: hidden;}
.transition{-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;}
.txtCenter{width: 100%;text-align: center;}
.name{font-size: 2.25rem;font-weight: bold;margin: 20px 0 5px;text-shadow: 0 10px 10px rgba(0,0,0,.3);}
.title{font-size: .82rem;margin: 0 0 5px;text-shadow: 0 5px 10px rgba(0,0,0,.3);}
.data,.workSection,.eduSection{overflow: hidden;width: 61%;text-shadow: 0 10px 10px rgba(0,0,0,.3);}
.skill{font-size: 1.35rem;font-weight: bold;margin: 10px 0 0;}
.gap{height: 1px;width: 100%;position: relative;margin: 5px auto; border-bottom:1px solid #333;}
.gap::before{content:'';display:block;height: 5px;width: 5px;border-radius: 50%; background-color: #333;position: absolute;left: 0;top:-1.5px;}
.gap::after{content:'';display:block;height: 5px;width: 5px;border-radius: 50%; background-color: #333;position: absolute;right: 0;top:-1.5px;}
.skillSet{width: 100%;height:190px;overflow: hidden;margin: 0 auto;white-space: nowrap;position: relative;}
.skillSet .itemWrap{position: absolute;width: 100%;height:100%;top: 0; left: 0;}
.skillSet .itemWrap.uiux{left: -100%;}
.skillSet .itemWrap.frontend{left: -200%;}
.skillSet .items{width: 100%;display: inline-flex;padding: .31rem;flex-direction: column;}
.skillSet .items .type{font-size: 1rem;font-weight: bold;margin: 10px 0 5px;}
.list{display: flex;flex-direction: row;margin: 5px 0 0;align-items: center;}
.list .key{width: 36%;font-size: 12px;}
.list .value{height: 3px;background-color: #B5B5B5;width: 58%;position: relative;margin-left: 6%;overflow: hidden;box-shadow: 0 10px 5px rgba(0,0,0,.1);}
.list .vLength{height: 3px;background-color: #333;position: absolute;left: -100%;top: 0;width: 0;}
.icon {width: 30px; height: 30px;margin: .5em;margin: 0 auto;}
.type{display: flex;flex-direction: row;align-items: center;}
.type .typeTitle{line-height: 24px;margin-top: -3px;}
.type .icon {width: 24px; height: 24px;margin: 0 10px 0 0;}
.btnSkill{ position: absolute; bottom: 80px; background-color: #5CAFB2; width: 50px; height: 100px; display: flex; align-items: center; cursor: pointer;transition:all .5s ease ; -webkit-transition:all .5s ease ; -moz-transition:all .5s ease ; -ms-transition:all .5s ease ; -o-transition:all .5s ease ;}
.btnSkill .icon{fill: #fff;margin: 0 auto;}
.btnLeft{left: 0;border-radius: 0 10px 10px 0;box-shadow:  0 0 0 0 rgba(0,0,0,0),inset -1px 1px 0 1px rgba(207,255,254,.3), inset 1px -1px 0 1px rgb(46,120,128,.5);}
.btnRight{right:0;border-radius: 10px 0 0 10px;box-shadow: 0 0 0 0 rgba(0,0,0,0),inset 1px 1px 0 1px rgba(207,255,254,.3), inset -1px -1px 0 1px rgb(46,120,128,.5);}
.btnLeft:hover{background-color: #60c5c8;box-shadow: 0 20px 10px rgba(0,0,0,.3),inset -1px 1px 0 1px rgba(207,255,254,.3), inset 1px -1px 0 1px rgb(46,120,128,.5);}
.btnLeft:active{background-color: #3f979a;box-shadow: 0 5px 5px rgba(0,0,0,.3),inset -1px 1px 0 1px rgba(207,255,254,.3), inset 1px -1px 0 1px rgb(46,120,128,.5);}
.btnRight:hover{background-color: #60c5c8;box-shadow: 0 20px 10px rgba(0,0,0,.3),inset 1px 1px 0 1px rgba(207,255,254,.3), inset -1px -1px 0 1px rgb(46,120,128,.5);}
.btnRight:active{background-color: #3f979a;box-shadow: 0 5px 5px rgba(0,0,0,.3),inset 1px 1px 0 1px rgba(207,255,254,.3), inset -1px -1px 0 1px rgb(46,120,128,.5);}
.bullet{width: 100%; height: 20px;display: flex;flex-direction: row;align-items: center;justify-content: center;}
.bullet .dot{box-shadow: 0 5px 5px rgba(0,0,0,.5); width: 5px; height: 5px; background-color: #666; border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ; margin: 0 0 0 5px;}
.bullet .dot.on{background-color: #3f979a;}

/*flip*/
.front, .back,.outter {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
.back {
  background-color: #fff;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
}
.flipBtn{ transform-style: preserve-3d; border-radius: 50%; width: 2.19rem; height: 2.19rem; display: flex; align-items: center; position: absolute; box-shadow: 0 10px 10px rgba(0,0,0,.3); cursor: pointer; transform:translateY(330px) ; -webkit-transform:translateY(330px) ; -moz-transform:translateY(330px) ; -ms-transform:translateY(330px) ; -o-transform:translateY(330px) ; }
.flipBtn .icon{width: 1.2rem;height: 1.2rem;position: relative;}
.flipBtn.black{background-color: #333;}
.flipBtn.black:hover,.flipBtn.white:hover{ background-color: #666; transform:translateY(330px) rotateY(20deg) ; -webkit-transform:; -moz-transform:; -ms-transform:; -o-transform:; }
.flipBtn.black .icon{fill:#fff;}
.flipBtn.white{background-color: #fff;}
.flipBtn.white .icon{fill:#333;}
.tip{ position: absolute; top: -17px; left: -4px; font-size: 12px; white-space: nowrap; transform:scale(.75) rotateY(-10deg) ; -webkit-transform:scale(.75) rotateY(-10deg) ; -moz-transform:scale(.75) rotateY(-10deg) ; -ms-transform:scale(.75) rotateY(-10deg) ; -o-transform:scale(.75) rotateY(-10deg) ; }
/*back*/
/* .workSection .title,.workSection .info,.eduSection .title,.eduSection .info{text-shadow: none;} */
.workSection .title,.eduSection .title{font-size: 1rem;position: relative;}
.workSection .info .squeeze,.eduSection .info .squeeze{text-shadow: none; color: #666; font-size: .65rem; transform:scale(.8) translateX(-12%) ; -webkit-transform:scale(.8) translateX(-12%) ; -moz-transform:scale(.8) translateX(-12%) ; -ms-transform:scale(.8) translateX(-12%) ; -o-transform:scale(.8) translateX(-12%) ;white-space: nowrap;}
.listArea li{position: relative;padding: 10px 0 5px 20px;}
.workSection .listArea li:last-child{margin-top: -2px;}
.workSection .listArea li:last-child::after{position: absolute;left:2px;bottom:0; content: ''; width: 5px; height: 5px; background-color: #333;}
.listArea li::before{position: absolute;content: '';height: 86%;width: 1px;border-right: 1px solid #333;top: 25px;left: 3px;}
.listArea .title::before{ position: absolute;left:-17px;top:8px; content: ''; width: 4px; height: 4px; background-color: #333; border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ; }
.listArea .title::after{ position: absolute;left:-20px;top:5px; content: ''; width: 8px; height: 8px;border: 1px solid #333; background-color: transparent; border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ; }
.workSection li:last-child .squeeze{white-space:break-spaces;}
.eduSection .info:last-child .squeeze{white-space:break-spaces;}
.eduSection .listArea li:last-child::before{display: none;}

@media screen and (max-width: 376px) {
  .cardContainer{ transform:scale(0.9) ; -webkit-transform:scale(0.9) ; -moz-transform:scale(0.9) ; -ms-transform:scale(0.9) ; -o-transform:scale(0.9) ; }
}
@media screen and (max-width: 321px) {
  .cardContainer{ transform:scale(0.8) ; -webkit-transform:scale(0.8) ; -moz-transform:scale(0.8) ; -ms-transform:scale(0.8) ; -o-transform:scale(0.8) ; }
}